[submodule "external/aizynthfinder"]
	path = external/aizynthfinder
	url = https://github.com/MolecularAI/aizynthfinder
[submodule "external/REINVENT4"]
	path = external/REINVENT4
	url = https://github.com/MolecularAI/REINVENT4
[submodule "external/molecular-design"]
	path = external/molecular-design
	url = https://github.com/GT4SD/molecular-design
[submodule "external/gt4sd-core"]
	path = external/gt4sd-core
	url = https://github.com/GT4SD/gt4sd-core
[submodule "external/rdkit"]
	path = external/rdkit
	url = https://github.com/rdkit/rdkit
[submodule "external/molformer"]
	path = external/molformer
	url = https://github.com/IBM/molformer
[submodule "external/moses"]
	path = external/moses
	url = https://github.com/molecularsets/moses
[submodule "external/guacamol"]
	path = external/guacamol
	url = https://github.com/BenevolentAI/guacamol
[submodule "external/MolecularTransformer"]
	path = external/MolecularTransformer
	url = https://github.com/pschwllr/MolecularTransformer
[submodule "external/DiffDock"]
	path = external/DiffDock
	url = https://github.com/gcorso/DiffDock
[submodule "external/torchdrug"]
	path = external/torchdrug
	url = https://github.com/DeepGraphLearning/torchdrug
[submodule "external/openfold"]
	path = external/openfold
	url = https://github.com/aqlaboratory/openfold
[submodule "external/openmm"]
	path = external/openmm
	url = https://github.com/openmm/openmm
[submodule "external/pistachio"]
	path = external/pistachio
	url = https://github.com/CASPistachio/pistachio
